@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {

            @if (!User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-user"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#"><i class="fas fa-list-ul" style="width: 30px"></i> Mina ordrar</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-user-edit" style="width: 30px"></i> Kontoinformation</a>
                            <a class="dropdown-item" asp-controller="User" asp-action="UpdateLogin"><i class="fas fa-unlock-alt" style="width: 30px"></i> Ändra Lösenord</a>
                            <a class="dropdown-item" asp-controller="User" asp-action="LogOut"><i class="fas fa-sign-out-alt" style="width: 30px"></i> Logga ut</a>
                        </div>
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="dropdown-item" asp-controller="User" asp-action="LogOut"><i class="fas fa-sign-out-alt"></i> (Admin) Logga ut</a>
                </li>
            }
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Register"><i class="far fa-plus-square"></i> Skapa Konto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login"><i class="far fa-user"></i> Logga In</a>
            </li>
        }
    </ul>