@model IEnumerable<AllProductsViewModel>


@{
    ViewData["Title"] = "Rock★Start - Alla Produkter";
}




@if (TempData["Deleted"] != null)
{

    <p>
        <font size="6">
            <span style="color: red;">
                @TempData["Deleted"]
            </span>
        </font>
    </p>

}

@if (TempData["Succesmsg"] != null)

{
    <div class="alert alert-success" role="alert">
        @TempData["Succesmsg"]
    </div>
}

@if (TempData["EditSuccesmsg"] != null)

{
    <div class="alert alert-success" role="alert">
        @TempData["EditSuccesmsg"]
    </div>
}



<h1>Alla Produkter</h1>

@if (User.IsInRole("Admin"))
{
    <p></p>
    <p>

        <a href='@Url.Action("CreateProduct", "Product")'>
            <input type='button' class="btn btn-primary" value='Lägg till Ny Produkt' />
        </a>
    </p>
}

<div class="container">
    <div class=" row justify-content-center">

        @foreach (var item in Model)
        {
            <partial name="_Productpartial" model="item" />
        }
    </div>
</div>
