@model IEnumerable<AllProductsViewModel>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    ViewData["Title"] = "Rock★Start";
    int a = 0;

}
<partial name="_AddToCartMessagePartial" />

@foreach (var category in Model)
{
    if (a == 0)
    {
        <h1>@category.CategoryName</h1>
    }
    a++;
}

<div class="container">
    <div class=" row justify-content-center">

        @foreach (var item in Model)
        {
            <partial name="_Productpartial" model="item" />
        }
    </div>
    <div style="display: none" id="AntiForgeryToken">@GetAntiXsrfRequestToken()</div>
</div>

