@model IEnumerable<AllProductsViewModel>
@{
    ViewData["Title"] = "Rock★Start";
    int a = 0;

}
<partial name="_AddToCartMessagePartial" />

@foreach (var category in Model)
{
    if (a == 0)
    {
        <h1>@category.CategoryName</h1>
    }
    a++;
}

<div class="container">
    <div class=" row justify-content-center">

        @foreach (var item in Model)
        {
            <partial name="_Productpartial" model="item" />
        }
    </div>
</div>

