@model  ProductCategoryViewModel
@{
    ViewData["Title"] = "Kategorier";
}

<h3>Sök på den kategori ni vill se produkter ifrån</h3>
<form method="post">
    @* @Html.DropDownList("ddcategory", Model.catlist.Select(m => new SelectListItem() { Text = m.Name, Value = m.Id.ToString() }).ToList(), "Select")*@
    <select id="selectedCategory" asp-for="selectedcategory" asp-items="Model.catlist">
        <option value="">Välj</option>

    </select>
    <button type="submit">Sök</button>
</form>





