@model EditBrandModel

@{
    ViewData["Title"] = "Tillverkare";
}


<form asp-action="Edit" method="post" class="form-inline">
    @if (Model.Brand != null)
    {
        <div class="form-group mx-sm-3 mb-2" style="width: 300px">
            <input type="hidden" asp-for="Brand.Id" />
            <input type="text" asp-for="Brand.Name" class="form-control d-inline" id="newBrand" value="@Model.Brand.Name" style="width: 300px" />
        </div>
        <button type="submit" class="btn btn-warning d-inline">Uppdatera</button>
        <span><a asp-action="Index" asp-route-id="">Skapa ny tillverkare</a></span>
    }
    else
    {
        <div class="form-group mx-sm-3 mb-2" style="width: 300px">
            <input type="text" asp-for="Brand.Name" class="form-control" id="newBrand" placeholder="Ny tillverkare..."style=" width: 300px" />
        </div>
        <button type="submit" class="btn btn-success mb-2">Skapa Ny</button>
    }
</form>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Tillverkare</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var brand in Model.BrandsCollection)
    {
        <tr>
            <td>@brand.Name</td>
            <td><a asp-action="Index" asp-route-id="@brand.Id">Uppdatera</a></td>
            <td><a asp-action="Delete" asp-route-id="@brand.Id">Radera</a></td>
        </tr>
    }
    </tbody>
</table>