<div class="card"> 
    <div class="card-body" style="color:black">
        <b>Instruktioner för Swish Betalning</b>
        <p>Betala in det totala beloppet till vårat Swishkonto:</p>
        <p>666 666 66 66 (RockStart AB) inkludera även ditt ordernummer eller e-mail adress</p>
        <p>Vi skickar din beställning efter att vi har tagit emot din betalning.</p>
    </div>
</div>
