@model CreditCardModel
@{
    Layout = "";
}

<form asp-action="Index" method="post" asp-controller="Order">
    <div class="form-group">
        <input asp-for="CardNumber" class="form-control" placeholder="Kortnummer" />
        <span asp-validation-for="CardNumber" class="text-danger"></span>
    </div>

    <div class="dropdown">
        <select class="form-control">
            <option>Månad</option>
            <option>Januari</option>
            <option>Februari</option>
            <option>Mars</option>
            <option>April</option>
            <option>Maj</option>
            <option>Juni</option>
            <option>Juli</option>
            <option>Augusti</option>
            <option>September</option>
            <option>Oktober</option>
            <option>November</option>
            <option>December</option>
        </select>
        <select class="form-control">
            <option>År</option>
            <option>2020</option>
            <option>2021</option>
            <option>2022</option>
            <option>2023</option>
            <option>2024</option>
            <option>2025</option>
            <option>2026</option>
            <option>2027</option>
            <option>2028</option>
            <option>2029</option>
        </select>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Månad
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
            <button class="dropdown-item" type="button">Januari</button>
            <button class="dropdown-item" type="button">Februari</button>
            <button class="dropdown-item" type="button">Mars</button>
            <button class="dropdown-item" type="button">April</button>
            <button class="dropdown-item" type="button">Maj</button>
            <button class="dropdown-item" type="button">Juni</button>
            <button class="dropdown-item" type="button">Juli</button>
            <button class="dropdown-item" type="button">Augusti</button>
            <button class="dropdown-item" type="button">September</button>
            <button class="dropdown-item" type="button">Oktober</button>
            <button class="dropdown-item" type="button">November</button>
            <button class="dropdown-item" type="button">December</button>
        </div>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            År
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
            <button class="dropdown-item" type="button">2020</button>
            <button class="dropdown-item" type="button">2021</button>
            <button class="dropdown-item" type="button">2022</button>
            <button class="dropdown-item" type="button">2023</button>
            <button class="dropdown-item" type="button">2024</button>
            <button class="dropdown-item" type="button">2025</button>
            <button class="dropdown-item" type="button">2026</button>
            <button class="dropdown-item" type="button">2027</button>
            <button class="dropdown-item" type="button">2028</button>
            <button class="dropdown-item" type="button">2029</button>
        </div>
    </div>
    <div class="form-group">
        <input asp-for="CVC" class="form-control" placeholder="CVC" />
        <span asp-validation-for="CVC" class="text-danger"></span>
    </div>
    <div class="form-group" style="text-align: center;">
        <input type="submit" value="Betala" class="btn btn-success" asp-action="Index" />
    </div>
</form>