@model LoggedInUserName
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Tack för din order</h3>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Hårdrock, @Model.Name!</h4>
    <p>Tack för att du handlat hos RockStart! Kom tillbaka för mer bra skit!</p>
    <hr>
    <p class="mb-0">Följ din order på <a asp-controller="UserOrder" asp-action="Index">mina-sidor</a>.</p>
</div>

<a class="btn alert-primary" asp-controller="Product" asp-action="AllProducts">Shoppa mer nu!</a>