@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
      ViewData["Title"] = "Rock★Start - Om oss";
}

<div class="mt-5">
    <img src="~/Image/logo.png" alt="RockStart logotyp" />

    <p>Liljeholmens STÖRSTA återförsäljare av instrument</p>

    <h3>Hitta till oss</h3>
    <p>Adress: Liljeholmskajen 2, 123 21 Stockholm</p>

    <h3>Frågor och svar</h3>
    <p>Vi har sammanställt våra mest förekommande frågor och svar här. Skulle du ändå inte få svar på dina frågor är du välkommen att kontakta oss.</p>

    <h3>Kontakta oss</h3>
    <p>Tel: 08-12 34 52 <br />Email: info@rockstart.se</p>
</div>

