@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
      ViewData["Title"] = "Rock★Start - Vanliga frågor";
}

<div class="mt-5">

    <p>Här har vi samlat våra mest förekommande frågor och svar.</p>

    <ul>
        <li>
            <h5>Hur många dagars öppet köp har ni?</h5>
            <p>Vi har 30-dagars öppetköp på alla våra produkter</p>
        </li>
        <li>
            <h5>Vad har ni för leveranstid?</h5>
            <p>
                Vanligtvis två arbetsdagar.<br />
                Men är det Niklas som packar din order tar det minst fem dagar då han provspelar alla instrument innan han skickar dem
            </p>
        </li>
        <li>
            <h5>Hur hanterar ni reklamationer?</h5>
            <p>
                Vi följer konsumentverkets regler
                <a href="https://www.hallakonsument.se/lattlast/reklamera-nar-det-ar-fel-pa-varan-eller-tjansten/" target="_blank">
                    hallakonsument.se
                </a>
            </p>
        </li>
        <li>
            <h5>Hur kan jag betala?</h5>
            <p>Det går bra att betala med kort eller swish hos oss</p>
        </li>
        <li>
            <h5>När kan man ring till er?</h5>
            <p>Vardagar 07:00-16:00</p>
        </li>
    </ul>
</div>
