#rockstart-carousel {
    background-color: transparent;
    width: 100%;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.08)
}

.carousel_product {
    max-width: 376px;
}

#rockstart-carousel .carousel_product img {
    display: block;
    object-fit: contain;
    height: 250px;
    /*width: 100%;*/
    width: 376px;
    background-color: #fff;
}

.carousel_info_container {
    width: 290px;
}

.carousel_info_container card-subtitle {
    margin: 0px;
    color: #bdb8ae;
}

.carousel-indicators {
    bottom: -10px;
}