body {
    /*background-color: #0e0e0e !important;
    background-image: radial-gradient(#262626, #0e0e0e);*/
    background-image: url(../Image/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff !important;
}

.ck-editor {
    color: #262b2e;
}
