@{
    ViewData["Title"] = "Admin";
}

<h3>Välkommen Till Admin sidan</h3>


@*<a href='@Url.Action("AllProducts", "Product")'>
        <input type='button' value='Visa alla Produkter' />
    </a>

    <br/>
    <br />
    <a href='@Url.Action("EditCategory", "Category")'>
        <input type='button' value='Kategori' />
    </a>
    <br/>
    <br />



    <a href='@Url.Action("Index", "Brand")'>
        <input type='button' value='Märke' />
    </a>*@

