@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h5>RockStart bakar kakor</h5>
    <p>En kaka (cookie) är en textfil som sparas på din dator för att kunna ge besökare tillgång till en webbsidas olika funktioner.</p>

    <p>Det finns två typer av kakor, permanenta som sparas en längre tid och sessionskakor som används temporärt under den tid din webbläsare är igång.</p>

    <p>RockStart.se sparar både permanenta och temporära sessionskakor på din dator för att du ska kunna hålla dig inloggad samt hålla reda på dina varor du lagt i varukorgen.
</div>