@model Webshop.Models.User

@{
    ViewData["Title"] = "Ny Kund";
}

<h1>Registera</h1>

<h4>Ny kund</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Förnamn</label>
                <input asp-for="FirstName" class="form-control" pattern="^[\p{L}]{1,}[-\s]?[\p{L}]{1,}$" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Efternamn</label>
                <input asp-for="LastName" class="form-control" pattern="^[\p{L}]{1,}[-\s]?[\p{L}]{1,}$" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-post</label>
                <input asp-for="Email" type="email" class="form-control" placeholder="epost@adress.se" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Bli Kund" class="btn btn-success" />
                <p>Redan medlem? <a asp-action="LogIn">Klicka här för att logga in</a></p>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

