@model UpdateUserPassword
@{
    ViewData["Title"] = "Redigera Inloggningsuppgifter";
}


<h3>Uppdatera Inloggningsuppgifter</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateLogin">
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label">Lösenord</label>
                <input asp-for="CurrentPassword" type="password" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">Lösenord</label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPasswordConfirm" class="control-label">Bekräfta lösenord</label>
                <input asp-for="NewPasswordConfirm" type="password" class="form-control" />
                <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Bli Kund" class="btn btn-success" />
                <p>Redan medlem? <a asp-action="LogIn">Ändra skiten!</a></p>
            </div>
        </form>
    </div>
</div>